version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: cfp_db_prod
    restart: always
    environment:
      MYSQL_DATABASE: CFP
      MYSQL_USER: cfp_user
      MYSQL_PASSWORD: cfp_password
      MYSQL_ROOT_PASSWORD: root_password
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3308:3306" # Expuesto en 3308 para no chocar con local ni IPES6
    networks:
      - cfp_network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: cfp_backend_prod
    restart: always
    command: /entrypoint.sh
    volumes:
      - ./backend:/app # Para desarrollo (opcional en prod)
    environment:
      - DB_ENGINE=django.db.backends.mysql
      - DB_NAME=CFP
      - DB_USER=cfp_user
      - DB_PASSWORD=cfp_password
      - DB_HOST=db
      - DB_PORT=3306
      - DJANGO_ALLOWED_HOSTS=*
      - DJANGO_DEBUG=False
      - CORS_ALLOWED_ORIGINS=http://localhost:8085,http://ips6-server.com
    depends_on:
      - db
    networks:
      - cfp_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: cfp_frontend_prod
    restart: always
    ports:
      - "8085:80" # Frontend accesible en puerto 8085
    depends_on:
      - backend
    networks:
      - cfp_network

volumes:
  db_data:


networks:
  cfp_network:
    driver: bridge
